page, .wrap {
  width: 100%;
  height: 100%;
}

.wrap {
  display: flex;
  flex-direction: column;
}

.wrap .header {
  width: 100%;
  height: 200rpx;
  background: red;
}

.wrap .center {
  flex: 1;
  background: #ecf0f0;
}

.wrap .center .center_colse {
  position: fixed;
  left: 6%;
  top: 13%;
  width: 88%;
  background: #fff;
  padding-top: 5%;
  border-radius: 12rpx;
}

.wrap .center .center_colse .center_my {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25rpx;
}

.wrap .center .center_colse .center_my span {
  font-size: 32rpx;
  padding: 10rpx 0;
}

.wrap .center .center_colse .center_my span:first-of-type {
  color: #000;
  font-weight: 800;
}

.wrap .center .center_colse .center_my span:last-of-type {
  color: #999da2;
}

.wrap .center .center_colse .center_payment {
  display: flex;
  flex-direction: column;
  padding: 0 26rpx;
}

.wrap .center .center_colse .center_payment ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrap .center .center_colse .center_payment ul li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 26rpx 0;
}

.wrap .center .center_colse .center_payment ul li span {
  font-size: 26rpx;
}

.wrap .center .center_colse .center_payment ul li span:first-of-type {
  width: 60rpx;
  height: 60rpx;
}

.wrap .center .center_colse .center_payment ul li span:first-of-type Image {
  width: 100%;
  height: 100%;
}

.wrap .center .center_colse .center_payment ul li span:last-of-type {
  margin: 20rpx 0;
  color: #70757d;
}

.wrap .footer {
  height: 200rpx;
  backface-visibility: skyblue;
}
