.main_cart {
    width: 100%;
    height: 250rpx;
    display: flex;
    background: #fff;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 15rpx;
    border-radius: 10rpx;
    margin-bottom: 20rpx;
    .cart_checked {
        display: flex;
        .cart_span {  
            width: 40rpx;
            height: 40rpx;
            border-radius: 50%;
            margin-right: 10rpx;
            Image {
                width: 100%;
                height: 100%;
            }
        }
    }
    Image {
        width: 250rpx;
        height: 160rpx;
        margin: 0 30rpx;
    }
    .cart_cont {
        display: flex;
        flex-direction: column;
        p {
            font-size: 28rpx;
        }
        >span {
            color: #999;
            font-size: 24rpx;
            margin-top: 10rpx;
            margin-bottom: 10rpx;
        }
    }
    .cart_box {
        display: flex;
        justify-content: space-between;
        p {
            color: red;
            >span {
            }
        }
        .cart_cart {
            >span {
                border: 1px solid #eee;
                padding: 5rpx 20rpx;
                &:nth-child(2) {
                    padding: 5rpx 30rpx;
                }
            }
        }
    }
}