.wrap_delivery {
  display: flex;
  padding: 30rpx 0rpx;
  box-sizing: border-box;
  border-bottom: 1px solid #eee;
}

.wrap_delivery .delivery_left {
  width: 85%;
}

.wrap_delivery .delivery_left .delivery_name {
  display: flex;
  flex-direction: column;
}

.wrap_delivery .delivery_left .delivery_name p {
  font-size: 28rpx;
}

.wrap_delivery .delivery_left .delivery_name p:last-child {
  margin: 10rpx 0;
}

.wrap_delivery .delivery_left .delivery_default {
  width: 95%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.wrap_delivery .delivery_left .delivery_default span {
  padding: 6rpx 10rpx;
  background: #ffdeff;
  color: #f32afa;
  font-size: 20rpx;
  margin-right: 10rpx;
  box-sizing: border-box;
}

.wrap_delivery .delivery_left .delivery_default p {
  font-size: 26rpx;
  padding-right: 40rpx;
}

.wrap_delivery .delivery_left .delivery_default p b {
  color: #f32afa;
}

.wrap_delivery .delivery_right {
  width: 15%;
  display: flex;
  align-items: center;
  border-left: 1px solid #eee;
  box-sizing: border-box;
  align-content: center;
}

.wrap_delivery .delivery_right .delivery_compile {
  width: 100%;
  text-align: center;
}
