html, body, #app, page {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.wrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
  background: #bfbfdb;
  padding: 30rpx;
  box-sizing: border-box;
  overflow: scroll;
  box-sizing: border-box;
  padding-bottom: 100rpx;
}

.cart_footer {
  width: 100%;
  height: 100rpx;
  background: #fff;
  position: fixed;
  bottom: 88rpx;
  display: flex;
  align-items: center;
  padding: 0 0 0 30rpx;
  border-bottom: 1px solid #eee;
  justify-content: space-between;
  box-sizing: border-box;
}

.cart_footer .cart_checked {
  display: flex;
}

.cart_footer .cart_checked .cart_span {
  width: 40rpx;
  height: 40rpx;
  border-radius: 50%;
  margin-right: 10rpx;
}

.cart_footer .cart_checked .cart_span Image {
  width: 100%;
  height: 100%;
}

.cart_footer .aggregate p span {
  color: red;
}

.cart_footer .cart_footer_button span {
  background: #0f0;
  padding: 28rpx 38rpx;
  color: #fff;
}

.cart_footer .cart_footer_button span:first-child {
  background: linear-gradient(217deg, #72adad, #08e4e4);
}

.cart_footer .cart_footer_button span:last-child {
  background: linear-gradient(217deg, #f140a8, #f585dd);
}

.footer {
  width: 100%;
  height: 88rpx;
  background: #fff;
}
