page,.wrap{
    width:100%;
    height:100%;
}
.wrap{
    display:flex;
    flex-direction: column;
    .header{
       width:100%;
       height:300rpx;
      >.header_name{
        width: 100%;
        position: fixed;
        left: 0;
        top: 9%;
        z-index: 999;
        width: 100%;
        height: 100rpx;
         ul{
              width:100%;
              height:100%;
               display:flex;
               justify-content:around;
               align-items:  center;
               padding-left: 61rpx;
               li:first-of-type{
                  width:124rpx;
                  height:124rpx;
                  >Image{
                      width:100%;
                      height:100%;
                  }
               }
               li:last-of-type{
                   display:flex;
                   flex-direction:column;
                   margin-left: 26rpx;
                   justify-content: flex-start;
                   span{
                       color:#fff;
                   }
                   span:first-of-type{
                       font-size:40rpx;
                       display: flex;
                       justify-content: space-around ;
                       em{
                           font-style: normal;
                           display:inline-block;
                           width: 78rpx;
                           height: 35rpx;
                           
                           >Image{
                              width:100%;
                              height:100%;
                           }
                       }
                   }
                  span:last-of-type{
                      font-size:30rpx;
                      margin-top: 10rpx;
                      padding-left: 10rpx;
                     i{
                        font-style: normal;
                        color: #fff;
                        background: #3cced1;
                        padding: 7rpx 25rpx;
                        font-size: 21rpx;
                        border-radius: 26rpx;
                        
                      }
                  }
               }
           }
       }
    }
    .center{
        flex:1;
        background:#ecf0f0;
        .center_colse{
            position:fixed;
            left: 3%;
            top: 23%;
            width: 95%;
            background: #ecf0f0;
            border-radius: 12rpx;
            .center_my{
                display:flex;
                justify-content: space-between;
                align-items: center;
                padding: 17rpx 25rpx;
                background:#fff;
                border-top-left-radius: 18px;
                border-top-right-radius: 18px;
                span{
                    font-size:22rpx;
                    padding:10rpx 0;
                }
                span:first-of-type{
                   color:#000;
                   font-weight:800;
                }
                span:last-of-type{
                    color:#999da2
                }
            }
            .center_payment{
               display:flex;
               flex-direction:column;
               padding:0 26rpx;
               background:#fff;
               border-bottom-left-radius: 18px;
               border-bottom-right-radius: 18px;
               margin-top:-23rpx;
               ul{
                   display:flex;
                  justify-content: space-between;
                  align-items: center;
                   li{
                        display:flex;
                        flex-direction:column;
                        justify-content: center;
                        align-items: center;
                        padding:26rpx 0;
                        span{
                            font-size:20rpx;
                        }
                        span:first-of-type{
                            width: 60rpx;
                            height:60rpx;
                            Image{
                                width:100%;
                                height:100%;
                            }
                        }
                        span:last-of-type{
                            margin:7rpx 0;
                            color:#70757d;
                        }
                   }
               }
            }
            .discount{
                width:100%;
                display:flex;
                flex-direction:column;
                padding: 23rpx 0 20rpx 20rpx;
                background:#fff;
                margin-top:20rpx;
                padding-left: 20rpx;
                width: 96%;
                border-radius: 18px;
                ol{
                    display:flex;
                    flex-direction: column;
                    li{
                        display:flex;
                        justify-content:space-between ;
                        align-items: center;
                        >Image{
                            width:30rpx;
                            height:30rpx;
                            padding:25rpx 0;
                        }
                        >span{
                            flex:1;
                            display:flex;
                            justify-content: space-between;
                            align-items: center;
                            border-bottom:.01rpx solid #f6f6f6;
                            margin-left:20rpx;
                            em,i{
                                font-style:normal;
                                font-size:20rpx;
                                padding:10rpx 0;
                                color:#323a45;
                            }
                            i{
                                color:#c2c4c7;
                                width:40rpx;
                                height:40rpx;
                                margin-right: 33rpx;
                                Image{
                                  width:100%;
                                  height:100%;
                                }
                            }
                        }
                    }
                }
            }
            p{
                text-align: center;
                margin: 70rpx 0;
                font-size: 33rpx;
                color: #484848;
                text-align: center;
                display: block;
                
            }
        }
    }
    .footer{
       backface-visibility: skyblue;
       ol{
           display:flex;
           justify-content:space-around;
           padding:0 20rpx;
           align-items: center;
           li{
               display:flex;
               flex-direction: column;
               justify-content: center;
               align-items: center;
               
               span:first-of-type{
                   width:40rpx;
                   height:40rpx;
                   display: inline-block;
                   Image{
                       width:100%;
                       height:100%;
                       margin:10rpx 0;
                   }
               }
               span:last-of-type{
                font-size: 23rpx;
                display: block;
                margin-top: 22rpx;
                display: block;
                padding-bottom:10rpx;                
                
              }
           } 
       }
    }
}