page, .wrap {
  width: 100%;
  height: 100%;
}

.wrap {
  display: flex;
  flex-direction: column;
}

.wrap .header {
  width: 100%;
  height: 300rpx;
}

.wrap .header > Image {
  width: 100%;
  height: 300rpx;
}

.wrap .header > .header_name {
  width: 100%;
  position: fixed;
  left: 0;
  top: 9%;
  z-index: 999;
  width: 100%;
  height: 100rpx;
}

.wrap .header > .header_name ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: around;
  align-items: center;
  padding-left: 61rpx;
  margin-top: 12rpx;
}

.wrap .header > .header_name ul li:first-of-type {
  width: 90rpx;
  height: 90rpx;
}

.wrap .header > .header_name ul li:first-of-type > Image {
  width: 100%;
  height: 100%;
}

.wrap .header > .header_name ul li:last-of-type {
  display: flex;
  flex-direction: column;
  margin-left: 26rpx;
  justify-content: flex-start;
}

.wrap .header > .header_name ul li:last-of-type span {
  color: #fff;
}

.wrap .header > .header_name ul li:last-of-type span:first-of-type {
  font-size: 40rpx;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.wrap .header > .header_name ul li:last-of-type span:first-of-type i {
  font-size: 32rpx;
  font-style: normal;
}

.wrap .header > .header_name ul li:last-of-type span:first-of-type em {
  font-style: normal;
  display: inline-block;
  width: 78rpx;
  height: 35rpx;
  margin-top: -10rpx;
  margin-left: 10rpx;
}

.wrap .header > .header_name ul li:last-of-type span:first-of-type em > Image {
  width: 100%;
  height: 100%;
}

.wrap .header > .header_name ul li:last-of-type span:last-of-type {
  font-size: 22rpx;
  margin-top: 15rpx;
}

.wrap .header > .header_name ul li:last-of-type span:last-of-type i {
  font-style: normal;
  color: #fff;
  background: #3cced1;
  padding: 7rpx 25rpx;
  font-size: 21rpx;
  border-radius: 26rpx;
}

.wrap .center {
  flex: 1;
  background: #ecf0f0;
}

.wrap .center .center_colse {
  position: fixed;
  left: 3%;
  top: 21%;
  width: 95%;
  background: #ecf0f0;
  border-radius: 12rpx;
}

.wrap .center .center_colse .center_my {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 17rpx 25rpx;
  background: #fff;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
}

.wrap .center .center_colse .center_my span {
  font-size: 23rpx;
  padding: 10rpx 0;
}

.wrap .center .center_colse .center_my span:first-of-type {
  color: #000;
  font-weight: 800;
}

.wrap .center .center_colse .center_my span:last-of-type {
  color: #999da2;
}

.wrap .center .center_colse .center_payment {
  display: flex;
  flex-direction: column;
  padding: 0 26rpx;
  background: #fff;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  margin-top: -23rpx;
}

.wrap .center .center_colse .center_payment ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

.wrap .center .center_colse .center_payment ul li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 26rpx 0;
}

.wrap .center .center_colse .center_payment ul li span {
  font-size: 20rpx;
}

.wrap .center .center_colse .center_payment ul li span:first-of-type {
  width: 60rpx;
  height: 60rpx;
}

.wrap .center .center_colse .center_payment ul li span:first-of-type Image {
  width: 100%;
  height: 100%;
}

.wrap .center .center_colse .center_payment ul li span:last-of-type {
  margin: 7rpx 0;
  color: #70757d;
}

.wrap .center .center_colse .discount {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 23rpx 0 20rpx 20rpx;
  background: #fff;
  margin-top: 20rpx;
  padding-left: 20rpx;
  width: 96%;
  border-radius: 18px;
}

.wrap .center .center_colse .discount ol {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
}

.wrap .center .center_colse .discount ol li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrap .center .center_colse .discount ol li > Image {
  width: 30rpx;
  height: 30rpx;
  padding: 25rpx 0;
}

.wrap .center .center_colse .discount ol li > span {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: .01rpx solid #f6f6f6;
  margin-left: 20rpx;
}

.wrap .center .center_colse .discount ol li > span em, .wrap .center .center_colse .discount ol li > span i {
  font-style: normal;
  font-size: 23rpx;
  padding: 10rpx 0;
  color: #323a45;
}

.wrap .center .center_colse .discount ol li > span i {
  color: #c2c4c7;
  width: 40rpx;
  height: 40rpx;
}

.wrap .center .center_colse .discount ol li > span i Image {
  width: 40%;
  height: 40%;
}

.wrap .center .center_colse p {
  text-align: center;
  margin: 70rpx 0;
  font-size: 33rpx;
  color: #484848;
  text-align: center;
  display: block;
}

.wrap .footer {
  backface-visibility: skyblue;
}

.wrap .footer ol {
  display: flex;
  justify-content: space-around;
  padding: 0 20rpx;
  align-items: center;
}

.wrap .footer ol li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrap .footer ol li span:first-of-type {
  width: 40rpx;
  height: 40rpx;
  display: inline-block;
}

.wrap .footer ol li span:first-of-type Image {
  width: 100%;
  height: 100%;
  margin: 10rpx 0;
}

.wrap .footer ol li span:last-of-type {
  font-size: 23rpx;
  display: block;
  margin-top: 22rpx;
  display: block;
  padding-bottom: 10rpx;
}
